$nudge:10px;
$abrivations:(margin: m, padding: p);
@for $i from 0 through 3 {
    .item-#{$i} {}
    @each $prop,
    $abbrev in $abrivations {
        .#{$abbrev}-#{$i} {
            #{$prop}: $i*$nudge $i*$nudge !important;
        } // a = All sides
        .#{$abbrev}-t-#{$i} {
            #{$prop}-top: $i*$nudge !important;
        }
        .#{$abbrev}-r-#{$i} {
            #{$prop}-right: $i*$nudge !important;
        }
        .#{$abbrev}-b-#{$i} {
            #{$prop}-bottom: $i*$nudge !important;
        }
        .#{$abbrev}-l-#{$i} {
            #{$prop}-left: $i*$nudge !important;
        }
        
        .#{$abbrev}-x-#{$i} {
            #{$prop}-right: $i*$nudge !important;
            #{$prop}-left: $i*$nudge !important;
        }
        .#{$abbrev}-y-#{$i} {
            #{$prop}-top: $i*$nudge !important;
            #{$prop}-bottom: $i*$nudge !important;
        }
    }
}


@for $i from 10 through 20 {
    .f-sz-#{$i} {
        font-size: #{$i}px;
        
    }
}